/* Estilo geral para a página */
.App {
  font-family: sans-serif;
  text-align: center;
}

/* Estilo para as tabelas de usuário */
.user-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 10px;
  width: 100%;
}

.user-table th {
  background-color: #333;
  color: #fff;
  padding: 8px;
}

.user-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Estilo para o nome do usuário */
.user-table th[colspan="2"] {
  background-color: #007BFF;
  color: #fff;
  font-size: 18px;
  padding: 12px;
}

/
